* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container .navbar {
    position: relative;
    display: flex;
    height: 12%;
}

.navbar-left {
    flex-basis: 70%;
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

.left {
    display: flex;
    align-items: center;
    padding: 45px 50px 10px 50px;
}

.left {
    position: absolute;
    display: flex;
    left: 50px;
}

.left ul li {
    display: inline-block;
    margin: 0 15px;
}

.left li {
    list-style: none;
}


.left li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}

.left li a:hover {
    text-decoration: none;
    font-size: 20px;
    color: lightblue;
}

.navbar-right {
    flex-basis: 30%;
    background: white;
}

.right {
    display: flex;
    position: absolute;
}

.right ul li {
    list-style: none;
    display: inline-block;
    margin-left: 100px;
    margin-top: 10px;
}

.right li a {
    text-decoration: none;
}

.content {
    display: flex;
    height: 88%;
    position: relative;

}

.content .content-left {
    flex-basis: 70%;
}

.text-left {
    position: absolute;
    top: 25%;
    left: 10%;
    opacity: .5;
    color: lightblue;

}

.text-left h1 {
    font-size: 150px;
    font-style: italic;
    margin-left: 150px;
    line-height: 90px;
}

.text-left h2 {
    font-size: 100px;
    font-style: italic;
}


.text-bottom {
    position: absolute;
    bottom: 10%;
    left: 45%;
    color: lightblue;
    opacity: .5;
    text-transform: uppercase;
}

.text-bottom h1 {
    font-size: 5em;
    line-height: 50px;
    margin-left: 100px;
}

.text-bottom h2 {
    font-size: 3em;
}

.text-bottom h3 {
    font-size: 2.5em;
    line-height: 30px;
    margin-left: 160px;
}

.imgbx img {
    top: -15%;
    right: 15%;
    position: absolute;
    z-index: 1;
}

.content .content-right {
    flex-basis: 30%;
    background: white;
    position: relative;
}